.banner_section {
  width: 100%;
  background: url(../assets/Images/banner-bg.png);
  background-position: center;
  background-size: cover;
  /* object-fit: contain; */
  padding: 5rem 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_section .heading {
  text-align: center;
}

.banner_section .heading h1 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.banner_section .heading .search-bar {
  display: grid;
  grid: 80px / 3fr 1fr;
}

.banner_section .heading .search-bar input {
  border-radius: 15px 0 0 15px;
  outline: 0;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem 0;
}

.banner_section .heading .search-bar button {
  border-radius: 0 15px 15px 0;
  color: #fff;
  background-color: #0F0E0E;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  transition: all 0.7s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_section .heading .search-bar button:hover {
  background-color: #0e76a8;
  box-shadow: 0 0 4px #fff;
}

.banner_section .heading p {
  font-size: 1.2rem;
  color: #fff;
  margin: 1rem 0;
}

.banner_section .heading .discover {
  padding: 2rem 0;
}

.banner_section .heading .discover a {
  padding: 1rem 4rem;
  background: #0F0E0E;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  transition: all 0.7s;
}
.banner_section .heading .discover a:hover {
  background-color: #0e76a8;
  box-shadow: 0 0 4px #fff;
}

/* Features */
.container {
  margin: 2rem 0;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.reverse {
  flex-direction: row-reverse;
}
.row .col-md-6 {
  width: 50%;
}
.row .col-md-6 img {
  width: 100%;
}
.row .col-md-6 h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.row .col-md-6 p {
  font-size: 1.2rem;
  font-weight: 400;
}
.row .col-md-6 .apply-btn {
  border: none;
  margin: 0.4rem 0;
  padding: 1rem 4rem;
  background: #0F0E0E;
  border-radius: 4px;
  transition: all 0.7s;
}
.row .col-md-6 .apply-btn:hover {
  background-color: #0e76a8;
}
.row .col-md-6 .apply-btn a {
  color: #fff;
  text-decoration: none;
  border: none;
}

/* SubFooter */
.sub-footer {
  width: 100%;
  height: 400px;
  background-color: #1e90ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-footer .container h2 {
  font-size: 2.5rem;
  color: #fff;
  margin: 2rem 0;
  font-family: 'Open Sans', sans-serif;
}
.sub-footer .container p {
  font-size: 1.5rem;
  color: #fff;
  margin: 2rem 0;
}
.sub-footer .container .subscribe-bar {
  display: grid;
  grid: 50px / 3fr 1fr;
  margin: 2rem 0;
}
.sub-footer .container .subscribe-bar input {
  border-radius: 15px 0 0 15px;
  border: none;
  padding: 0 2rem;
  outline: 0;
}
.sub-footer .container .subscribe-bar button {
  border: none;
  border-radius: 0 15px 15px 0;
  background-color: #0F0E0E;
  color: #fff;
  transition: all 0.7s;
}
.sub-footer .container .subscribe-bar button:hover {
  background-color: #0e76a8;
  box-shadow: 0 0 4px #fff;
}