.service-card {
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
  
  }
  .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .service-card:hover {
    background-position: 0 100%;
  }
  .service-card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
  }
  .service-card:hover h3 {
    color: #ffffff;
  }
  .service-card:hover p {
    color: #f0f0f0;
  }
  .service-card-title {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  .service-card-paragraph {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }