.home-page {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: ""
  }
  
  .header {
    text-align: center;
    padding: 5px;
    background-color: #d4dce6;
    color: #fff;
  }
  
  .header-title {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .header-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #1b1b1b;
  }
  
  .features {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fc7798;
  }
  
  .feature-item {
    text-align: center;
    margin: 0 20px;
  }
  
  .feature-item i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .testimonial {
    text-align: center;
    padding: 50px;
    background-color: #fff;
  }
  
  .testimonial-content {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .testimonial-content p {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .testimonial-content cite {
    font-weight: bold;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    color: #777;
    font-size: 14px;
  }
  .myBackground  {
    background-image: url('./Images/back.jpg');
    background-size: cover;
    height: 1000px;
    /* Add any other properties as needed */
  }

  